# Database connection (PostgreSQL)
DATABASE_URL=postgresql://mineflayerdataapi_user:A5szsNXUi5XW4akUAwa5NnF1sKVfEBRz@dpg-dacksk61egvs73d14htg-a/mineflayerdataapi

# Session encryption secret (required to store Minecraft accounts in the database)
SESSION_SECRET=

# Server configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# Optional Auth Provider
ISSUER_URL=
REPL_ID=
BASE_PATH=/
